@use 'base/variables' as v;
@use 'base/mixins' as m;

.contact {
  padding-top: 3.7rem;
  padding-bottom: 3rem;

  background-image: url('../img/bg-mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
  //   background-position: center;
  //   padding: 3rem 0 20rem 0 ;

  @media screen and (min-width: 768px) {
    background-image: url('../img/bg-dektop.png');
    // background-size: contain;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 59px;
    padding-bottom: 60px;
    background-size: cover;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    @media screen and (min-width: 1024px) {
      width: 100%;
      max-width: 1026px;
      margin-left: auto;
      margin-right: auto;

      grid-template-columns: repeat(2, 1fr);

      width: 1026px;
      align-items: center;
      gap: 32px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }

  &__heading {
    color: v.$white;

    font-family: v.$font_principal;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;

    @media screen and (min-width: 1024px) {
      font-size: 32px;
      line-height: normal;
    }
  }

  &__desc {
    color: v.$white;

    font-family: v.$font_principal;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.2px;

    @media screen and (min-width: 1024px) {
      line-height: 24px;
    }
  }

  &__flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;

    @media screen and (min-width: 1024px) {
      gap: 12px;
    }
  }

  &__number {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  &__image {
    width: 100%;
    max-width: 22px;
  }

  &__desc-numer {
    color: v.$white;
    font-family: v.$font_principal;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2px;
  }
}
