// Font
$font_principal: "Montserrat", sans-serif;

// Media query size

$phone: 375px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #c81d25;
$secundary: #083954;
$black: #000;
$white: #ffffff;
$sky: #bfd7ea;
$lightGrey: #373737;

$placeholder: #a2a2a2;
$bg-result: #F5F5F5;

$separation: 5rem;
